* {
  margin: 10px;
}
.output {
  border: solid;
  min-height: 15vh;
  padding: 20px;
  margin-bottom: 10px;
  border-width: 1px;
  border-radius: 10px;
}

@media screen and (max-width:720px) {
  * {
    word-wrap: break-word;
  }
  .App {
    width: 100vw;
    text-align: center;
  }
}
